.main-header{
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}

.pic-no-data{
    display: flex;
    justify-content: center;
}

.pic-no-data img{
    width: 150px;
}

.btnHome{
    display: flex;
}

.btnExport, .btn-reset{
    margin-left: 10px;
}

.main-filter{
    display: flex;
    align-items: baseline;
}

.input-search{
    margin-left: 10px;
}

@media (max-width: 576px) {
    .btn-home-title{
        font-size: small;
    }

    .chart{
        width:200px
    }

    .main-header{
        flex-direction: column;
        padding: 2em 0 2em 0;
        align-items: center;
    }

    .btnHome{
        margin-bottom: 20px;
    }
  }