/*  .main-progressbar {
     display: flex;
     align-items: center;
     justify-items: center;
 }

 .progressbar {
     width: 100%;
 }





 .row-card{
    margin-right: 5px;
 }

 .category{
   margin-right: 13px;
 }



 .main-items{
    display: flex;
    flex-direction: column;
 }

 .second-card{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

*/

.container-card {
    /*   display: flex; */
    padding: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /*     margin-right: 20px;
    margin-bottom: 20px; */
    align-items: center;
    width: 400px;
}

.main-cards-audit {
    display: flex;
    flex-wrap: wrap;
}

.btn-func {
    display: flex;
}

.audit-btn,
.delete,
.edit {
    cursor: pointer;
}

.edit {
    margin-right: 25px;
}

.main-card{
    display: flex;
    justify-content: space-around;
}
