

.container-card {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    justify-content: center;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-cards-audit {
    display: flex;
    flex-wrap: wrap;
}

.btn-func{
    margin-left: 5px ;
}

.audit-btn,
.delete,
.edit {
    cursor: pointer;
}

.edit {
    margin-right: 25px;
}

.main-card {
    display: flex;
    justify-content: space-around;
}

.end-card {
    display: flex;
}


.main-first-card {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.gbook-card{
    font-weight: bold;
    color: #404040;
}